{% extends "base.html" %}
{% block body %}
<h1>新規分析</h1>
<form action="{{ url_for('analysis') }}" method="post">

    <label>タイトル</label>
    <input class="form-control" type="text" size="30" name="title">
    <label>配列データ</label>
    <textarea class="form-control" name="data" rows="5"></textarea>
    <label>適用する重み</label>
    <select name="class" size=1>
        {% for class in classes %}
        <option value={{ class }}>{{ class }}</option>
        {% endfor %}
    </select>
    <input class="btn btn-primary" type="submit" value="送信">

</form>
{% endblock %}