{% extends "base.html" %}
{% block body %}
<h1>結果参照</h1>

<h3>{{ result.id }}: {{ result.title|safe}}
    <small class="text-muted">{{ result.created }}</small>
</h3>
<div class="row">
    <img src="{{ url_for('static', filename=result.img) }}" class="img-fluid" alt="Responsive image">
</div>

<div class="row">
    <div class="col-8">
        <textarea class="form-control" rows="8" disabled>{{result.data}}</textarea>
    </div>
</div>

<br><br>


<dl class="row">
    <dt class="col-sm-2">適用した重み</dt>
    <dd class="col-sm-6">{{ result.feature_class }}</dd>
</dl>

<br><br>

<table class="table table-striped table-hover">
    <tr>
        <th>参照生物</th>
        <th>類似度</th>
    </tr>
    {% for item in top_five %}
    <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.similarity }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}